.card {
  width: 413px;
}

.card__image {
  height: 413px;
  width: 100%;
  border-radius: 10px;
}

.card__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card__title {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-size: 20px;
  line-height: 1.2;
}

.card__like-button {
  background-image: url(../images/like_icon.svg);
  width: 23px;
  height: 20px;
  border: none;
  opacity: 40%;
}

.card__like-button:hover {
  opacity: 100%;
}

@media screen and (max-width: 627px) {
  .card__image {
    height: 288px;
    width: 288px;
  }
  .card__content {
    max-width: 288px;
  }
}