.card {
  width: 413px;
}

.card__image {
  height: 413px;
  width: 100%;
  border-radius: 8px;
}

.card__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 12px;
}

.card__title {
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-size: 20px;
  line-height: 1.2;
}

.card__like-button {
  background-color: none;
  background-image: url(../images/like_icon.svg);
  width: 23px;
  height: 20px;
  border: none;
  opacity: 40%;
  cursor: pointer;
}

.card__like-button:hover {
  opacity: 100%;
}

@media screen and (max-width: 627px) {
  .card {
    width: 288px;
  }

  .card__image {
    height: 288px;
    width: 288px;
  }
  .card__content {
    max-width: 288px;
  }
}