.modal {
  visibility: hidden;
  background-color: #00000050;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Poppins;
  font-weight: 500;
  font-style: medium;
  padding: 10px;
}

.modal_is-opened {
  visibility: visible;
}

.modal__container {
  max-width: 630px;
  width: 100%;
  border-radius: 8px;
  background-color: #fff;
  padding: 32px 50px;
  position: relative;
}

.modal__close-btn {
  position: absolute;
  top: 32px;
  right: 50px;
  width: 40px;
  height: 40px;
  background-color: transparent;
  background-image: url(../images/Close\ icon.png);
  background-position: center;
  border: none;
  cursor: pointer;
}

.modal__title {
  margin: 0 0 32px;
  font-size: 32px;
}

.modal__form {
  display: flex;
  flex-direction: column;
}

.modal__label {
  margin: 0 0 32px;
  font-size: 16px;
}

.modal__input {
  display: block;
  margin: 8px 0 0;
  font-size: 20px;
  padding-top: 16px;
  padding-left: 12px;
  padding-bottom: 16px;
  border-radius: 8px;
  border-color: #2121214d;
  max-width: 630px;
  width: 100%;
  cursor: pointer;
}

.modal__input::placeholder {
  color: #2121214d;
}

.modal__submit-btn {
  max-width: 156px;
  width: 100%;
  background-color: #212121;
  border-radius: 8px;
  padding: 18px 32px;
  font-size: 16px;
  color: #FCF5E5;
  cursor: pointer;
}

@media screen and (max-width: 500px) {
  .modal__container {
    padding: 12px;
    max-width: 300px;
    width: 100%;
  }

  .modal__title {
    font-size: 20px;
    padding-top: 22px;
  }

  .modal__form {
    max-width: 276px;
    width: 100%;
  }

  .modal__input {
    max-width: 256px;
    width: 100%;
    padding: 16px 0;
    font-size: 16px;
  }

  .modal__input::placeholder {
    padding-left: 12px;
  }

  .modal__close-btn {
    top: 12px;
    right: 12px;
  }

  .modal__submit-btn {
    max-width: none;
  }
}